In [6]:
from itertools import product
import pandas as pd

def combinacoes(jogo_a, jogo_b):
    return [ f'{s}{num}' for s, num in product(jogo_a, jogo_b) ]

jogo_a = ['Sport 0 x 0 Londrina', 'Sport 1 x 0 Londrina', 'Sport 0 x 1 Londrina']
jogo_b = ['Criciuma 0 x 0 Vasco', 'Criciuma 1 x 0 Vasco', 'Criciuma 0 x 1 Vasco']
resultados = combinacoes(jogo_a, jogo_b)
resultados_df = pd.DataFrame(resultados, columns=["Resultados"])
display(resultados_df)

                                 Resultados
0  Sport 0 x 0 LondrinaCriciuma 0 x 0 Vasco
1  Sport 0 x 0 LondrinaCriciuma 1 x 0 Vasco
2  Sport 0 x 0 LondrinaCriciuma 0 x 1 Vasco
3  Sport 1 x 0 LondrinaCriciuma 0 x 0 Vasco
4  Sport 1 x 0 LondrinaCriciuma 1 x 0 Vasco
5  Sport 1 x 0 LondrinaCriciuma 0 x 1 Vasco
6  Sport 0 x 1 LondrinaCriciuma 0 x 0 Vasco
7  Sport 0 x 1 LondrinaCriciuma 1 x 0 Vasco
8  Sport 0 x 1 LondrinaCriciuma 0 x 1 Vasco